@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* drawer */
.ant-drawer, .ant-drawer-body {
  padding: 10px !important;
}

.ant-table-thead .ant-table-cell {
  background-color: #f5f6fa !important;
  color: #535768 !important;
  font-size: 0.8rem !important;
  padding: 0.5rem !important;
  /* border: 1px solid #DEDFEC !important; */
}
div.rcp-interactive > .rcp-hue {
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
}
.rcp-saturation {
  border-radius: 8px !important;
  height: 0 !100% !important;
  overflow: hidden !important;
  top: 0 !important;
  bottom: 0 !important;
}

.rcp-hue {
  /* transform: rotate(90deg) !important; */
  top: 0 !important;
  left: 0 !important;
  margin-top: 10px !important;
}
